#formOne {
  background-color: rgb(130, 219, 219);
  border: 1px solid black;
}

.form-group {
  margin: 20px;
}

#letter {
  display: none;
  background-image: url("../img/paper.jpg");
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
  font-family: cursive; 
}

#signature {
  font-family: "Tangerine", serif;
  font-size: 35px;
}

#formOne .btn {
  display: block;
  margin: auto;
  margin-bottom: 5px;
  background-color: black;
  color: aliceblue;
}